* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.oleo-script-regular {
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    font-style: normal;
  }

.w-full {
    width: 100%;
}

.w-24 {
    width: 24rem;
}

.w-1 {
    width: 1rem;
}

.w-3 {
    width: 3rem;
}

.w-6 {
    width: 6rem;
}

.w-18 {
    width: 18rem;
}

.w-1-5 {
    width: 1.5rem;
}

.w-4 {
    width: 4rem;
}

.h-auto {
    height: auto;
}

.h-full {
    height: 100%;
}

.h-1 {
    height: 1rem;
}

.h-1-5 {
    height: 1.5rem;
}

.h-4 {
    height: 4rem;
}

.text-white {
    color: white;  
}

.text-black {
    color: black;
}

.text-red {
    color: red;
}

.text-neutral-800 {
    color: rgb(20, 20, 20);
}

.text-center {
    text-align: center;
}

.placeholder-neutral-400 {
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    rgb(169, 169, 169);
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:    rgb(169, 169, 169);
       opacity:  1;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:    rgb(169, 169, 169);
       opacity:  1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
       color:    rgb(169, 169, 169);
    }
    &::-ms-input-placeholder { /* Microsoft Edge */
       color:    rgb(169, 169, 169);
    }
    
    &::placeholder { /* Most modern browsers support this now. */
       color:    rgb(169, 169, 169);
    }
}

.text-3xl {
    font-size: 2rem;
} 

.text-2xl {
    font-size: 1.8rem;
} 

.text-xl {
    font-size: 1.5rem;
}

.text-lg {
    font-size: 1.2rem;
}

.text-md {
    font-size: 0.9rem;
}

.text-sm {
    font-size: 0.6rem;
}

.text-xs {
    font-size: 0.3rem;
}

.bg-grayish-blue {
    background-color: #3E5179;
}

.bg-transparent {
    background-color: transparent;
}

.bg-gray-input {
    background-color: #E2DEDC;
}

.bg-neutral-800 {
    background-color: rgb(117, 117, 117);
}

.bg-white {
    background-color: white;
}

.bg-teal {
    background-color: #5BC7CA;
}

.bg-blue {
    background-color: blue;
  }
  
  .bg-green {
    background-color: green;
  }
  
  .bg-red {
    background-color: red;
  }
  
  .bg-yellow {
    background-color: yellow;
  }
  
  .bg-lilac {
    background-color: #C8A2C8;
  }
  
  .bg-ruby {
    background-color: #9B111E; 
  }
  
  .bg-turquoise {
    background-color: #40E0D0; 
  }
  
  .bg-coral {
    background-color: #FF7F50; 
  }
  
  .bg-sapphire {
    background-color: #0F52BA; 
  }
  
  .bg-jade {
    background-color: #00A86B; 
  }
  
  .bg-silver {
    background-color: #C0C0C0; 
  }
  

.sticky {
    position: sticky;
}

.absolute {
    position: absolute;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: end;
}

.gap-05 {
    gap: 0.5rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-4 {
    gap: 4rem;
}

.gap-x-4 {
    column-gap: 4rem;
}

.gap-y-1 {
    row-gap: 1rem;
}

.p-01 {
    padding: 0.1rem;
}

.p-02 {
    padding: 0.2rem;
}

.p-05 {
    padding: 0.5rem;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.px-4 {
    padding-inline: 4rem;
}

.px-1 {
    padding-inline: 1rem;
}

.px-2 {
    padding-inline: 2rem;
}

.pr-4 {
    padding-right: 4rem;
}

.py-04 {
    padding-block: 0.4rem;
}

.py-08 {
    padding-block: 0.8rem;
}

.py-1 {
    padding-block: 1rem;
}

.py-2 {
    padding-block: 2rem;
}

.m-1 {
    margin: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.button-reset {
    outline: none;
    border: none;
    background-color: transparent;
}

.outline-none {
    outline: none;
}

.border-none {
    border: none;
} 

.border-dotted {
    border-style: dotted;
}

.border-bottom-1 {
    border-bottom: 1px solid black;
}

.rounded-full {
    border-radius: 999rem;
}

.rounded-md {
    border-radius: 0.5rem;
}

.rounded-sm {
    border-radius: 0.25rem;
}

.rounded-t-md {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.decoration-none {
    text-decoration: none;
}

.divide-y-2 {
    width: 1px;                  
    height: 2rem;              
}

.border-x-1 {
    border-inline: 1px solid black;
}

.border-white {
    border-color: white;
}

.border-black {
    border-color: black;            
}

.border-neutral-300 {
    border-color: rgb(199, 199, 199);
}

.space-x-minus-1 {
    margin-left: -1rem;
}

.space-x-minus-3 {
    margin-left: -3rem;
}

.space-x-minus-4 {
    margin-left: -4rem;
}

.shadow-lg {
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.container {
    width: 80%;
    margin-inline: auto;
}

.icon-container {
    text-decoration: none;
    color: black;
    font-family: "Lilita One", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.grid {
    display: grid;
}

.grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-cols-7 {
    grid-template-columns: repeat(7, 1fr);
}

.list-none {
    list-style: none;
}

.overflow-hidden {
    overflow: hidden;
}